.container {
    margin: 20px 15px 100px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
}

.wrap_search {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.inputSearch input{
    width: 40vw;
    font-style: normal;
}

.wrap_result {
    border-radius: 20px;
    height: fit-content;
    padding: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.textNotFound {
    font-size: 60px;
}

.wordType {
    color: var(--color9);
}

.wordDocument {
    color: var(--color3);
    text-decoration: underline;
}