.carousel_item {
    background-color: var(--color7);
    min-height: 150px;
    max-width: 250px;
    cursor: pointer;
}

.titleCourse {
    margin-top: 15px;
}

.carousel {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}