$sm: 767px;
$md: 991px;

.sidebarStudent {
    padding-top: 20px;
    padding-left: 15px;

    @media (max-width: $md) {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 80px 30px;
        background-color: var(--color1);
        transform: translateX(-100%);
    }
}

.btnCloseSidebar {
    display: none;

    @media (max-width: $md) {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 30px;
        margin-bottom: 20px;
        cursor: pointer;

        &:active {
            color: var(--color3);
        }
    }
}

.sidebarActive {
    transform: translateX(0);
    transition: transform 0.5s ease;
}
