$sm: 767px;
$md: 991px;

.buttonOne {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background: #ffffff;
    border: 1px solid var(--color3);
    border-radius: 15px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: var(--color3);

    @media (max-width: $md) {
        padding: 6px 14px;
        font-size: 13px;
    }
}

.buttonTwo {
    color: var(--color1);
    padding: 10px 100px;
    background-color: var(--color4);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 4px var(--color3);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    @media (max-width: $md) {
        font-size: 13px;
        padding: 10px 80px;
    }
}

.buttonThree {
    padding: 10px 20px;
    background: var(--color6);
    box-shadow: 2px 4px 4px var(--color3);
    border: none;
    color: var(--color1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 16px;

    &:active {
        opacity: 0.8;
    }

    @media (max-width: $md) {
        font-size: 13px;
        padding: 8px 16px;
    }
}

.buttonFour {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background: var(--color3);
    border-radius: 15px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: var(--color1);

    @media (max-width: $md) {
        padding: 6px 14px;
        font-size: 13px;
    }
}
