@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,600&display=swap');

$sm:767px;
$md: 991px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLOR */
    --color1: #ffff;
    --color2: #414141;
    --color3: #425cee;
    --color4: #eb1482;
    --color5: #54b4f9;
    --color6: #b2beff;
    --color7: #d7d7d7;
    --color8: #000;
    --color9: #888888;

}

body {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}