@import '/src/base.scss';

.container {
    margin: 20px 15px 100px 0;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.banner {
    width: auto;
    height: 40vh;
    background-color: var(--color7);
    object-fit: cover;
}

.wrap_carousel {
    margin-bottom: 100px;
}

.title_section {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}

.container_news {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

